.footer{
    // background-color: rgb(255, 0, 106);
    width: 100%;
    p{
        color: rgba(114, 114, 114, 0.864);
        // color: rgba(255, 255, 255, 0.864);
        font-family: poppins;
    }

}
